@import './header.css';
@import './auth.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #f0f2f5;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.landing-page-header {
    text-align: center;
}

.game-container {
    max-width: 40rem;
    margin: auto;
}

.table-container {
    max-width: 25rem;
    margin: auto;
}

.action-container {
    max-width: 25rem;
    margin: auto;
}

.slot-input {
    width: 20%;
}
